[2017-02-19 21:24] olafgrabienski opened #1 "Configure the Localization server module"
To start using https://localize.backdropcms.org as a localization server, we have to configure the *Localization server* module at `admin/l10n_server`.

**Relevant Gitter discussion:**

So, let's start!

[2017-02-19 22:09] olafgrabienski commented on #1
Here some docs:

- Project page: https://www.drupal.org/project/l10n_server
- Blog article (Drupal 6): http://hojtsy.hu/blog/2010-may-05/using-drupal-collaborative-software-translation-tool
- Readme file (Drupal 7): http://cgit.drupalcode.org/l10n_server/tree/README.txt?id=refs/heads;id2=7.x-1.x
- Localize.drupal.org administrator guide: https://www.drupal.org/node/1439588

[2017-02-19 22:18] olafgrabienski opened #2 "Admin menu of localization server disappears"
After logging in to https://localize.backdropcms.org I see the *Administration menu*, but when I open any page on the site, it disappears. When I clear the cache via `admin/config/development/performance`, the Admin menu shows up again, but reloading the page or opening another one makes it disappear again.

[2017-02-19 23:34] serundeputy commented on #2
I turned off `cache admin menu locally` on `admin/config/administration/admin_menu` in the Performance vertical tab. That seems to help.

@olafgrabienski if you can confirm let's close this issue.

[2017-02-19 23:56] olafgrabienski commented on #2
Yeah, can confirm that it helps, works fine now!

[2017-02-19 23:56] #2 closed

[2017-02-22 21:17] olafgrabienski opened #3 "Install Module Filter and Backup and Migrate"
During configuration of the translation server I'd like to use [Module Filter](https://www.drupal.org/project/module_filter) and [Backup and Migrate](https://www.drupal.org/project/backup_migrate). Installation via the GUI fails because of missing FTP credentials. @serundeputy Would be nice if you could install the modules, thanks!

[2017-02-22 22:23] #3 closed

[2017-02-22 22:29] serundeputy commented on #3
@olafgrabienski i've added the modules.

You need to conf backup_migrate; please make sure it is not storing backups in web accessible places!

~Geoff

[2017-02-22 22:39] olafgrabienski commented on #3
Thanks a lot, @serundeputy! Re backup_migrate: no configuration needed, I'll store backups only locally.

[2017-02-22 22:42] serundeputy commented on #3
ahh; great

[2017-02-22 23:34] olafgrabienski commented on #1
Yay, I've made some steps to configure the Localization server module, added a project (Drupal core) and three languages as examples, and imported the relevant language files from drupal.org.

At the moment, anonymous users can explore translations. Community roles and permissions are to be done.

URL: https://localize.backdropcms.org/translate

Configuration steps so far:

- `admin/l10n_server/co

[2017-02-22 23:43] olafgrabienski commented on #1
Interestingly, the three example languages seem to be translated completely (which won't be the case with Backdrop later). Maybe I should add a less translated language for demonstration purposes of the community translation interface ...

[2017-02-22 23:47] olafgrabienski commented on #1
Imported Swahili which has only 8 (!) translations.

@todo to have a download of the Swahili `.po` file: "Repackage now" on `admin/l10n_server/packager`

[2017-02-23 17:49] olafgrabienski opened #5 "[Meta] Roadmap"
**Goals**

- Translate Backdrop CMS.
- Host translations of Backdrop CMS.

**Tasks**

- [x] Basic configuration of the translation server. (Issue #1)
- [x] Test the server with Drupal language files. (Issue #1)
- [ ] Test the server with Backdrop language files.
- [ ] Develop a translation concept, including participation of community members.
- [ ] Add a role and permissons for community members.

[2017-02-27 22:33] olafgrabienski opened #6 "Generate English Backdrop language files regularly"
To set up the translation server for Backdrop language files, we need to upload an English language source file to the server.

While there is probably a workaround for testing purposes, this issue is about the question how to generate such files regularly and reliably for each Backdrop release on a production translation server.

[2017-02-27 22:46] olafgrabienski commented on #6
Gábor Hojtsy, http://hojtsy.hu/blog/2010-may-05/using-drupal-collaborative-software-translation-tool:

Is there such an API for Backdrop, or could someone with coding skills look for a way to generate the English `.po` file of Backdrop releases with the help of a script?

[2017-02-27 23:04] olafgrabienski commented on #6
Just discovered: for Drupal modules and themes, there is the [Translation template extractor](https://www.drupal.org/project/potx) module which extracts translatable strings via the interface or command line. (It's even part of our Drupal based translation server.)

We need something similar which extracts translatable strings from Backdrop core.

[2017-02-28 00:04] olafgrabienski commented on #1
I've configured the translation server now to handle Backdrop language files as well!

- `admin/l10n_server/projects/add`
Added the project *Backdrop CMS*
- `admin/l10n_server/projects/releases/backdropcms/add`
Added release: *1.6.1*.
To generate the English *Source file* for translations, I exported a `.pot` (language template) file of a Backdrop test site. (See also issue #6, *Generate English B

[2017-02-28 00:21] olafgrabienski commented on #6
Workaround to generate an English Source file for translations:

- On a Backdrop site, go to `admin/config/regional/translate/export`.
- Under *Export template*, export the `.pot* (language template) file of the site.

NB: I noticed that the number of language strings is quite low on a new site. As if the system needs some usage to build complete information about the language strings.

[2017-03-02 21:03] quicksketch commented on #1
Wow this is great @olafgrabienski! Fantastic work so far. :smile:

[2017-03-03 23:12] olafgrabienski opened #7 "Develop a translation concept"
To run the translation server, we need a concept how to organize the translation process technically and regarding community participation:

- Get the English language files on the server. (See issue #6.)
- Get files for other languages on the server.
- Find persons in charge for single languages.
- Build a role and configure permissions to suggest translations.
- Build a role and configure permis

[2017-03-23 20:59] quicksketch commented on #6
We can possibly build the exporting of strings as part of the BackdropCMS.org packager. Right now we have the packager running to update the .info files on every release. We could additionally add a step to automate the string extractor. Though once we have the strings, I'm not sure yet how we would "push" that information to the translation server. Perhaps we could simply publish a feed of some k

[2017-04-06 12:41] olafgrabienski commented on #6
@quicksketch From the *Connectors* page of our Drupal translation server:

There are four "Connectors" in a list of which at the moment only the last one is enabled:

- Drupal packages from the file system
- Drupal packages from file uploads
- Drupal.org packages from the drupal.org REST API
- Gettext files from file uploads

Maybe this information helps at some point automating the process of get

[2017-04-06 13:39] olafgrabienski commented on #6
Just wanted to add the last two Backdrop releases to the translation server. To get the English language template (translation source) file of 1.6.3 I tried the workaround mentioned in https://github.com/backdrop-ops/localization/issues/6#issuecomment-282901328 on one of my test sites, but the number of language strings is far too low (for the reason see "NB" in the linked comment). It's only 208

[2017-04-07 01:57] serundeputy commented on #6
@olafgrabienski give this a go when you get a chance; https://github.com/serundeputy/potx/issues/1 ;)

[2017-04-07 19:00] olafgrabienski commented on #6
Short report here: https://github.com/serundeputy/potx/issues/1#issuecomment-292623547

Help by @quicksketch needed!

[2018-07-12 22:32] klonos opened #8 "Show percentages in the translation progress bar."
This is what it currently looks like:

![screen shot 2018-07-13 at 8 31 18 am](https://user-images.githubusercontent.com/2423362/42663029-3c3a72c0-8677-11e8-9505-405966403c9d.png)

[2018-07-12 22:35] klonos opened #9 "Show contributors per language, per project"
d.org has a separate column for this: https://localize.drupal.org/translate/drupal8

![screen shot 2018-07-13 at 8 33 38 am](https://user-images.githubusercontent.com/2423362/42663105-86df9774-8677-11e8-9e90-0a3e6b459ad8.png)

...perhaps also make the number link to a list of user names?

[2018-08-03 13:32] serundeputy opened #10 "Turn Bakery off"
I added a new user to the localization site: `robertgarrigos` , but he could not sign in due to bakery.

I believe that we do not have bakery working correctly across sites right now so I've turned it off. I don't think that has adverse effects on anyone, but if it does we can turn it back on.

Just leaving a paper trail here.  Just give a thumbs up/agree or down/disagree.

[2018-08-03 13:37] robertgarrigos opened #11 "cannot login with bakery on"
@serundeputy added me to localize.backdrop and I could not log in until he turned off bakery (which, btw, I have no idea what it is).

Trying to log into localize.backdrop with user name and pass provided it redirected me to https://backdropcms.org/bakery/login with an access denied message.

Also, before using the password provided, I tried with the reset link sent by the system. It got me also t

[2018-08-03 13:57] olafgrabienski commented on #10
Agreed. Will test later if my account still works.

[2018-08-03 15:11] serundeputy commented on #11
yep; so as stated; currently bakery is off: https://github.com/backdrop-ops/localization/issues/10

[2018-08-03 17:50] olafgrabienski commented on #10
Ok, the account still works.

[2018-08-04 00:11] robertgarrigos commented on #8
Percentages are shown when hovering:

![74_44__translated_and_explore_languages___localize_backdropcms_org](https://user-images.githubusercontent.com/105581/43670406-cd0a6742-977a-11e8-8eac-9c5a9a931760.jpg)

[2018-08-04 00:17] robertgarrigos commented on #11
is it on again? I have not access to the translate page when logged in, but when logged out

[2018-08-04 13:57] serundeputy commented on #11
No it is still off as far as I know. I'm on my phone I'll do a proper check
later today

On Fri, Aug 3, 2018 at 8:17 PM Robert Garrigos <notifications@github.com>
wrote:

[2018-08-04 16:20] olafgrabienski commented on #11
@robertgarrigos Bakery is still off (and I guess the issues with it are not easy to fix). Re the translate page I've enabled two permissions for authenticated users which before were only enabled for anonymous users: `access localization community` and `browse translations`. The latter should give you access even when you're logged in.

[2018-08-05 01:29] robertgarrigos commented on #11
Yep, fixed with the permission set.

[2018-08-05 01:29] #11 closed

[2018-08-05 02:38] robertgarrigos commented on #7
For the roles to build, I've been testing with these permissions and seems to work fairly well:

![people___traduccio_backdrop_cat](https://user-images.githubusercontent.com/105581/43682078-a5928782-9868-11e8-85a8-e97737963aab.png)

Also, something we could add to the website is the organics groups module. It is a good way of managing teams and, most important, to have some specific language infor

[2018-08-05 14:55] robertgarrigos commented on #7
I had installed Organic Groups in my testing site (https://traduccio.backdrop.cat/) and have documented the setting process. It looks like it's working quite well, but I had to change roles, as they are mainly managed by the og module. So, there is now a site wide role for a groups manager, which is language group manager. This role assigns other og roles, mainly a group administrator, who creates

[2018-08-05 19:57] olafgrabienski commented on #7
Thanks for working on the roles and testing Organic groups, and thanks for your feedback on translation discussing tools. Regarding the latter, maybe let's start to ask for ideas which tools might be good candidates. You said on localize.drupal.org each team decides about which tool to use. Do you know of specific tools which were choosen there?

[2018-08-05 20:07] olafgrabienski commented on #7
Good suggestion, I've added it to the list in the issue description, also the groups manager role.

[2018-08-05 20:08] olafgrabienski commented on #7
Yes, please. Will contact you for the details.

[2018-08-06 16:58] robertgarrigos commented on #7
I'm in two groups there (Catalan ans Spanish) and both choose to have a forum in their own community website, outsite localize.drupal.org, and both are now deprecated. But I believe what they need more is a type of post (it could be just a page or a book page) to post their translation rules. In the case of the Catalan group, there is a Catalan community (softcatala.org) who already manages this f

[2018-08-09 20:18] quicksketch commented on #6
https://github.com/backdrop-contrib/potx/issues/1 is fixed. potx module is now all set to go.

[2018-08-10 14:09] olafgrabienski commented on #7
On yesterday's [Backdrop weekly meeting](https://www.youtube.com/watch?v=gRVw_KRRe-o) it was mentioned that the Backdrop Forums seem to be convenient to discuss translations: We could get a topic "Translations" and a subtopic for each language.

[2018-08-11 13:23] robertgarrigos commented on #7
Added some functionality about notification of new members. I added also rules module and tuned the permissions. You can test it on traduccio.backdrop.cat

[2018-08-14 12:48] olafgrabienski commented on #7
Great, notifications work so far. To be implemented and verified on localize.backdropcms.org.

[2018-08-16 15:36] olafgrabienski opened #12 "Install Organic Groups + required modules"
To get the groups functionality for translation teams working, we need a couple of Drupal 7 modules on the site, primarily Organic groups plus some required modules.

@serundeputy Are you up to install the following modules for the translation server? (Installation via the user interface is asking for FTP credentials.)

Needed Module / version by the time of writing:

- [ ] Chaos tools (ctools) 7.

[2018-08-16 15:41] serundeputy commented on #12
@olafgrabienski I can install; I won't be able to deploy (no access)
Once installed i'll update the issue and assign to Jen.

[2018-08-18 14:14] serundeputy commented on #12
@olafgrabienski I've added the requested modules and a `localization_core` custom module to handle enabling them.

Once this is deployed visit: `/admin/modules` and enable the `Localizaton Core` module and that should enable all the requested modules.

@jenlampton please deploy when you get a chance.

thanks.

[2018-08-21 11:10] olafgrabienski commented on #12
Thanks @serundeputy, very kind! Looking forward to deployment!

[2018-08-23 20:17] jenlampton commented on #12
on it!

[2018-08-23 20:21] jenlampton commented on #12
Deployed and enabled Localization Core.

[2018-08-23 20:24] olafgrabienski commented on #12
Thank you!

[2018-08-27 07:39] robertgarrigos commented on #12
@olafgrabienski could you add the catalan language? I would use it as a test when ready if that's ok. thanks

[2018-08-27 10:30] olafgrabienski commented on #12
@robertgarrigos Sure, will add it! I hope to start with the configuration tasks today.

[2018-08-28 13:08] olafgrabienski opened #14 "Restore the database"
I have to restore a database backup on localize.backdropcms.org. Before I changed a configuration today, I made a database backup, and now I need to switch back to the state before.

Unfortunately, it's not possible to upload my backup via the *Backup and Migrate" restore page. I get a ["Request Entity Too Large" error](https://github.com/backdrop-ops/localization/issues/16). The `.mysql` file is

[2018-08-29 07:02] robertgarrigos opened #15 "multiple errors on /translate"
I'm having multiple errors accessing the url /translate:
[code]
Is this related to #14 ?

[2018-08-29 08:16] olafgrabienski commented on #15
Yes, #14 seems to be related. The issue came up after a "Start over" and a "Clean up" on the Releases page of the Localization server configuration.

- A "Clean up" removes orphan source strings.
- A "Start over" removes other project data (releases, files, line and parsing error information) while source strings and translations "are temporarily kept".

After the two actions it wasn't longer poss

[2018-08-29 08:24] olafgrabienski opened #16 "File upload fails: Request Entity Too Large"
When I try to upload a (not very large) `.po` language file on `translate/languages/de/import`, the upload fails and I see the error "413 Request Entity Too Large".

The maximum allowed size for uploads is 64 MB but the error seems to occur with files larger than 1 MB.

[2018-08-29 08:36] olafgrabienski commented on #16
Due to the error page the server runs on `nginx/1.13.12`. I've made a quick research and found out that not only PHP but also Nginx can be set to allow a maximum size. Nginx uses `client_max_body_size`, and I guess its current value is too low.

[2018-08-30 22:02] serundeputy commented on #14
@jenlampton @olafgrabienski I can't do this w/out server access; @larsdesigns care to allow me access to the server?

[2018-08-31 09:54] larsdesigns commented on #14
@serundeputy I will check PHP's file upload settings later in the morning.

[2018-08-31 09:55] larsdesigns commented on #14
@serundeputy if you find me on gitter, we can work through this together.

[2018-08-31 09:59] larsdesigns commented on #14
@serundeputy

NGINX looks okay.

[code]

[2018-08-31 10:04] larsdesigns commented on #14
@serundeputy PHP looks like this:

[code]

[2018-08-31 10:06] larsdesigns commented on #14
@serundeputy

[code]

[2018-09-01 07:26] larsdesigns commented on #14
@olafgrabienski, it sound like a database resource configuration problem rather than PHP. Can you provide the database dump to me. I will investigate the error and import the database from using "source".

[2018-09-01 14:20] olafgrabienski commented on #14
@larsdesigns Sure, I'll send you the `.mysql` file. Can you give me your email address via a PM in Gitter?

(Going to be offline for a couple of hours.)

[2018-09-09 09:58] larsdesigns commented on #14
@olafgrabienski: I backed up the existing localize database, dropped the localize database, recreated the localize database, and imported the data from the localize.backdropcms.org-2018-08-28T13-03-37-before-startover-releases.mysql file using the source command. There were no errors or warnings in the output. The import seemed successful fro the command line.

[2018-09-09 10:47] larsdesigns commented on #14
I apologize for the delay.

[2018-09-10 09:05] olafgrabienski commented on #14
@larsdesigns Thanks for importing the mysql data! I've just had a look at the site, and as far as I can see, the site configuration has been reset successfully.

As expected, the import solved also #15, so I'm going to close both issues.

It remains however unclear why I wasn't able to upload a backup via the *Backup and Migrate* restore page. The upload error doesn't seem to be *Backup and Migrat

[2018-09-10 09:05] #14 closed

[2018-09-10 09:11] olafgrabienski commented on #15
@robertgarrigos The database restore (see #14) has been successful, and as expected, the errors on https://localize.backdropcms.org/translate are gone.

[2018-09-10 09:11] #15 closed

[2018-09-10 09:17] olafgrabienski commented on #16
@larsdesigns has checked the server's NGINX and PHP settings in the probably related issue #14. At the moment it remains unclear why it's not possible to upload files larger than 1MB.

[2018-09-10 09:56] olafgrabienski opened #17 "Add catalan language"
@robertgarrigos asked in https://github.com/backdrop-ops/localization/issues/12#issuecomment-416142285:

[2018-09-10 09:57] olafgrabienski commented on #17
I've added Catalan, see https://localize.backdropcms.org/translate/languages/ca.

[2018-09-10 10:00] #17 closed

[2018-09-10 10:04] olafgrabienski commented on #11
So, the issue is fixed for the moment, as long as Bakery remains turned off. We can reopen it if we plan to use Bakery again.

[2018-09-10 10:10] olafgrabienski commented on #10
If we plan to re-enable Bakery module, we should have another look at #11.

[2018-09-10 10:10] #10 closed

[2018-09-10 10:30] olafgrabienski opened #18 "German: Attribute translations to Multiple contributors"
When imported translations were worked on by a team of people -- which is often the case, especially because many Backdrop language files were built using a Drupal language file -- , it is recommended to not attribute the translations to a personal username. To allow that, there is a user account called "Multiple contributors" on the translation server.

When experimenting with the translation ser

[2018-09-13 17:30] robertgarrigos opened #19 "add 'Localization group information' block to group page"
We would need the 'Localization group information' block to be shown in a language group, otherwise no one can join. I need to join the catalan group but cannot.

[2018-09-13 19:27] olafgrabienski commented on #19
@robertgarrigos The block is enabled. You can't join the group because there is no catalan group so far (the page you see, has been created by adding the catalan language, but without group functionality). However, as you are a "groups manager", you should be able to create the new catalan localization group by yourself. Can you give it a try?

[2018-10-16 17:05] robertgarrigos commented on #19
Thanks @olafgrabienski I couldn't see the admin menu bar. I have created the Catalan group.

[2018-10-16 17:05] #19 closed

[2018-10-17 14:34] olafgrabienski commented on #19
You're welcome! Re admin menu bar: was it a temporary problem, or does it persist?

[2018-11-05 21:24] olafgrabienski commented on #7
Reminder: Let's inform interested people when we're ready.

[2019-01-04 22:56] olafgrabienski opened #20 "Notify about new user accounts"
When people create a new account for the localization server, nobody gets notified.

While there are many potential spammers creating accounts, there were also a few legitimate account creations by people who wanted to provide translations, and nobody was informed about it.

We can configure a notification about new accounts using the Actions / Trigger module or Rules (both are available).

[2019-01-04 22:56] olafgrabienski commented on #20
I'd suggest to wait with the notifications because there are quite many fake / spam users creating accounts, and I wouldn't enjoy to receive all these notifications.

- Update 1: I've filed #21 to prevent fake accounts.
- Update 2: I've [deleted the existing fake accounts](https://github.com/backdrop-ops/localization/issues/21#issuecomment-453557872).
- Update 3: Honeypot is installed, I think we'

[2019-01-04 23:01] olafgrabienski opened #21 "Prevent fake accounts"
There are many fake users creating accounts on the localization server, and between them, legitimate user accounts are barely visible. So, let's prevent fake users from creating accounts.

Tasks:

- [x] Delete existing fake accounts
- [ ] Add functionality to prevent new fake accounts

[2019-01-10 22:18] olafgrabienski commented on #6
I'm reopening this issue and assigning it to @serundeputy.

While the *potx* module is working, it's a short-term solution (which is great) but the original intent of this issue is about the generation of language files "for each Backdrop release on a production translation server" (from the issue description).

For a long-term solution approach see @quicksketch's thoughts in https://github.com/ba

[2019-01-11 00:54] jenlampton commented on #16
From https://localize.backdropcms.org/admin/reports/status/php It looks like `upload_max_filesize` is 64M. ~~I'll log into the server and see if I can adjust it.~~

edit: I just re-read the thread. The error pops up with smaller files? hrm... looking into `client_max_body_size` setting.

[2019-01-11 01:08] jenlampton commented on #16
okay, I've attempted to set `client_max_body_size` to `200M` in both the server context for localize.backdropcms.org. @olafgrabienski can you please try again and let me know if it's any better now?

[2019-01-11 15:05] olafgrabienski commented on #16
@jenlampton Seems that the new settings did the trick, I was able to upload a language file larger than 1MB, thank you very much!

[2019-01-11 15:05] #16 closed

[2019-01-11 15:14] olafgrabienski commented on #21
To prevent new fake accounts, I suggest to install and configure the [Honeypot](https://www.drupal.org/project/honeypot) module (see issue #24). If that doesn't help, my favourite is [Captcha](https://www.drupal.org/project/captcha) plus [Captcha Riddler](https://www.drupal.org/project/riddler).

[2019-01-11 15:17] olafgrabienski opened #24 "Install Honeypot"
From issue #21:

There are many fake users creating accounts on the localization server (...). To prevent new fake accounts, I suggest to install and configure the Honeypot module.

[2019-01-11 15:18] olafgrabienski commented on #24
@jenlampton Can you install the *Honeypot* module on the localization server?

[2019-01-11 15:40] olafgrabienski commented on #21
Today I've deleted about 300 fake accounts.

- At the time being there are 18 legitimate user accounts on the localization site.
- 16 accounts are activated.
- Two accounts are still blocked because it's not yet possible to participate at the translation workflow.

[2019-01-11 19:41] jenlampton commented on #16
Nice!

On Fri, Jan 11, 2019, 7:05 AM Olaf Grabienski <notifications@github.com
wrote:

[2019-01-11 20:57] jenlampton commented on #24
Done :)

[2019-01-11 20:57] #24 closed

[2019-01-13 21:14] olafgrabienski commented on #24
Thank you!

[2019-01-13 21:22] olafgrabienski commented on #21
Honeypot has been installed and enabled on 11 January 2019 (and configured to protect all forms of the site). Let's see if it does the job to prevent illegitimate user accounts.

Closing the issue which should be reopened if needed.

[2019-01-13 21:22] #21 closed

[2019-01-31 18:03] olafgrabienski opened #25 "Improve "Create new account" page"
I'd like to add a text field to the registration form where people are asked to let us know why they're creating an account on localize.backdropcms.org.

[2019-01-31 18:12] olafgrabienski commented on #25
Related: #20 and #21

[2019-02-07 13:59] olafgrabienski opened #26 "Responsive website theme"
The website layout isn't responsive so far. It uses the core *Bartik* theme. To make it responsive, I suggest to use the contributed D7 theme [Responsive Bartik](https://www.drupal.org/project/responsive_bartik).

I've used *Responsive Bartik* on a couple of D7 sites. It's easy to set up and works well. In my opinion the easiest way to make the site layout responsive.

[2019-02-07 14:28] olafgrabienski commented on #20
I've enabled the notification about new accounts. (We've had only one new account since the installation of Honeypot.)

- Enabled Trigger module
- `admin/config/system/actions`: Configured an advanced action "Send e-mail about new account to a site manager"
- `admin/structure/trigger/user` => After creating a new user account: Selected the action "Send e-mail about new account to a site manager"

[2019-02-07 14:28] #20 closed

[2019-02-09 18:31] jenlampton commented on #26
I've added the responsive bartik theme to the site.

IIRC, when you change themes, all the settings are lost. We may need to visit the theme settings page and note all the color settings before making the change, so that we have all the information handy when you need to set it again.

Or better yet, let's take a picture:
![bartik-settings](https://user-images.githubusercontent.com/397895/52524789

[2019-02-11 11:17] olafgrabienski commented on #26
Thanks for installing the module and making the picture of the settings (good point)!

I've enabled *Responsive Bartik*, changed the settings to match the ones of *Bartik*, and set *Responsive Bartik* as default theme.

[2019-02-11 11:17] #26 closed

[2019-02-11 14:42] olafgrabienski opened #27 "Add core releases"
The page to add a release is `admin/l10n_server/projects/releases/backdropcms`. Each release should hold the respective version of the translatable source file.

I'd suggest to start with all releases of the latest minor release and to add then the latest bugfix releases of the other minor releases.

**1.12**

- [ ] 1.12.2
- [ ] 1.12.1
- [ ] 1.12.0

**1.11**

- [ ] 1.11.5
- [ ] 1.11.4
- [ ] 1.11.5

[2019-02-11 21:38] olafgrabienski commented on #6
From https://github.com/backdrop-ops/localization/issues/6#issuecomment-288858096:

At the moment, the localization server is configured to manage translatable strings with Gettext standard input/output, i.e. manually uploading `.pot` files. There are however two submodules which might help in automatization:

- Localization server for Drupal (REST API) -- Fetch Drupal projects from drupal.org.
-

[2019-02-12 13:44] olafgrabienski commented on #25
I'm limiting the target of this issue to improve the registration page with a text field where people can (have to) express their area of interest.

For reference, this was the original issue title and description:

[2019-02-12 13:53] olafgrabienski commented on #25
I've added the text field to the [registration form](https://localize.backdropcms.org/user/register), made it required and provided the following help text:

---

Potential follow-up when the localization server is ready: Give people more detailed instructions, maybe linking to another page.

[2019-02-12 13:53] #25 closed

[2019-02-13 15:40] olafgrabienski commented on #27
Question: Does it make sense to add all releases?

[2019-02-13 16:11] olafgrabienski opened #28 "Improve release order of downloads"
The items in the "Top downloads" list of a translation group ([example](https://localize.backdropcms.org/translate/languages/ca)) seem to be ordered by "Version". The sort criteria (ascending alphabetical, or numerical?) doesn't present Backdrop's semantic version releases in the correct order.

Actual behavior:

1.10.2
1.11.5
1.12.2
1.6.4
1.7.4
1.8.4
1.9.6

Expected behavior:

1.6.4
1.7.4
1.8.4
1

[2019-02-13 16:14] olafgrabienski commented on #28
IIRC, the list isn't a view. To fix the order, we could try to adapt the module code or to build a custom view.

[2019-02-13 16:17] olafgrabienski commented on #28
The order issue occurs also on the page *Backdrop CMS translation downloads*, https://localize.backdropcms.org/translate/downloads.

[2019-02-14 16:54] olafgrabienski commented on #28
I guess there is no *Views* integration for the language files, and I've not the skills to look for other methods to change their order.

@jenlampton Can you have a look at the download lists on pages like https://localize.backdropcms.org/translate/languages/ca and https://localize.backdropcms.org/translate/downloads to see if / how we can fix the order? (Assigning the issue to you.)

[2019-02-14 18:48] jenlampton commented on #28
Sure, I'll have a look today.

On Thu, Feb 14, 2019, 8:55 AM Olaf Grabienski <notifications@github.com
wrote:

[2019-02-15 16:35] olafgrabienski opened #29 "Notify about new translation suggestions"
A translation supervisor should get an email notification when there are new translation suggestions in his or her group.

[2019-02-16 17:14] serundeputy commented on #27
I've added this repo: https://github.com/serundeputy/autogen_translation_releases

tl;dr
-----

A collection of scripts that are intended to run on cron on the localization server. they will
  * download backdrop latest release
  * download and run potx
  * create a release on the localization server corresponding the latest download
    * TODO: upload and parse the po file
  * there is a `cleanUp

[2019-02-16 17:15] serundeputy commented on #27
I don't think we need all the old releases.

[2019-02-16 17:16] serundeputy commented on #6
I've added this repo: https://github.com/serundeputy/autogen_translation_releases

tl;dr
-----

A collection of scripts that are intended to run on cron on the localization server. they will
  * download backdrop latest release
  * download and run potx
  * create a release on the localization server corresponding the latest download
    * TODO: upload and parse the po file
  * there is a `cleanUp

[2019-02-19 01:56] jenlampton commented on #28
Fixed!
See https://localize.backdropcms.org/translate/downloads?project=backdropcms
And https://localize.backdropcms.org/translate/languages/ca

Let me know if you see anywhere else where the sort order needs to be updated, I had to do each of these individually.

[2019-02-19 01:56] #28 closed

[2019-02-19 11:43] olafgrabienski commented on #28
Thank you very much, looks good!

[2019-02-19 12:12] olafgrabienski commented on #1
Closing this issue; the basic configuration is done for quite a while.

[2019-02-19 12:12] #1 closed

[2019-02-19 12:20] olafgrabienski opened #30 "Backup and Migrate: Public files archive can't be extracted"
I need the `files` directory to update my local dev site of the translation server. I exported the directory using *Backup and Migrate*, but when I tried to open it, I got the message "The archive could not be extracted".

Exporting and opening the directory works with my dev site, so the error seems to be a server specific thing.

[2019-02-21 14:25] olafgrabienski commented on #18
On my local server I've tried to reimport a `.de.po` file with one translation string and to attribute it to "Multiple contributors" choosing the respective radio button on the import page. Unfortunately, I got the message "1 duplicate translation not saved", and the string remains attributed to my personal user account.

[2019-02-22 12:25] olafgrabienski commented on #29
To discuss: Who exactly should get the message? There are three options:

- The **author of the group node** which is also the "Manager". AFAIK, this the only 'unique' person in a group, and he or she can't leave the group unless the group author doesn't change. The group author gets also a notification about new group members.
- All people with the group role **administrator member** in the respe

[2019-02-22 12:36] olafgrabienski commented on #29
Regarding the implementation, I was hoping that the *Rules* module provides an event like "User has made a translation suggestion" but that's not the case.

@jenlampton Are you interested to extend *Rules* or to write a custom module for the notification about new translation suggestions?

(Regarding the latter approach maybe of interest: There is a "Translation statistics" block in each group whi

[2019-02-22 12:58] olafgrabienski commented on #29
A completely different idea would be to not solve this technically on the Localization site but to discuss translation questions somewhere else, e.g. using external tools -- cf. https://github.com/backdrop-ops/localization/issues/7#issuecomment-410776691 -- or the Backdrop forums -- cf. https://github.com/backdrop-ops/localization/issues/7#issuecomment-412093628.

In this case, notifications about

[2019-02-25 14:08] olafgrabienski opened #31 "Allow to publish group content on the "Board" page of a translation group"
From @robertgarrigos via Gitter:

[2019-02-25 14:19] olafgrabienski commented on #31
First ideas:

- Name of the content type: "Group post"
- Set the content type to be a group content.
- Fields: Title, Image, Body

@robertgarrigos, do we need more?

[2019-02-26 11:10] olafgrabienski commented on #31
I've added the "Group post" content type. Here some information about the implementation:

- Organic Groups role with group post permissions: administrator member (create / edit any / delete own)
- There is an "Add content" link in the "Navigation" block in the sidebar.
- Default comment settings: Closed
- Group posts are listed as teasers with "Read more" link, using the existing view "Translatio

[2019-02-26 11:10] olafgrabienski commented on #31
Ideas for improvements / follow-ups:

- better styling of the posts, e.g. floating image in teaser mode (we have no custom CSS workflow so far)
- more informative teasers, e.g. displaying the date of a post
- provide a WYSIWYG editor

[2019-02-26 11:13] olafgrabienski commented on #31
Closing the issue. Feel free to open new issues for improvements.

[2019-02-26 11:13] #31 closed

[2019-03-01 12:15] olafgrabienski commented on #7
Regarding use of the Backdrop forum, I've posted the question if it's possible to have a forum category called "Translations" and a sub-category (on demand) for each language where people can post topics regarding individual language strings: https://github.com/backdrop-ops/forum.backdropcms.org/issues/77

[2019-04-23 10:34] olafgrabienski opened #32 "Change name pattern of download files"
The name pattern for download files on the translation server is `backdropcms-VERSION.LANGCODE.po`. @quicksketch wrote in https://github.com/backdrop/backdrop-issues/issues/3674#issuecomment-485160589:

When https://github.com/backdrop/backdrop-issues/issues/3674 is fixed, let's drop the `cms` part of the name pattern and change it to `backdrop-VERSION.LANGCODE.po`.

[2019-05-29 21:54] olafgrabienski opened #33 "Allow bulk-approvement of translation suggestions?"
There's no way to bulk-approve translation suggestions. When there are many translation suggestions for a language (there could be hundreds and thousands), there's no feasible way to approve them all.

[2019-05-29 22:20] olafgrabienski commented on #33
Recently we needed to bulk-update the suggestion status of many translations, but that wasn't a typical situation. The issue came up when the configuration of the translation server wasn't well designed, and a person submitted many translation suggestions via a language file.

Meanwhile I think it doesn't make sense to bulk-submit suggestions importing a language file. Even if there was a technica

[2019-05-29 22:22] olafgrabienski commented on #33
For the time being, I've removed the `Import gettext files` permission from the Translation group "Member" role, to avoid another issue where we have to bulk-confirm suggestions.

On the import page there are however two "Status" options, one of them: "Store as suggestions needing approval, possibly discussion". Admin group members or Translations supervisors could use this option accidentally dur

[2019-05-30 00:35] jenlampton commented on #33
I'd rather we have the suggestions than have nothing at all. I don't mind doing the updates for now, or building you a button to do them in bulk, as needed.

Good idea. I'll see if I can find that...

[2019-05-30 00:38] jenlampton commented on #18
German translations are now attributed to multiple:
https://localize.backdropcms.org/translate/languages/de/translate

[2019-05-30 00:42] jenlampton opened #34 "Provide a UI to change attribution for an entire language to "Multiple Contributors""
I would like to build a UI so that people can easily adjust attribution to the "Multiple Contributors" user account.

[2019-05-30 00:42] jenlampton commented on #18
Closing in favor of https://github.com/backdrop-ops/localize.backdropcms.org/issues/34

[2019-05-30 00:42] #18 closed

[2019-05-30 05:38] jenlampton commented on #33
done. see https://localize.backdropcms.org/translate/languages/ar/import

[2019-05-30 07:45] olafgrabienski commented on #33
Thank you! Regarding the permission to upload multiple translation *suggestions* in a language file, what would be the use case? As said above, it's not possible to moderate so many suggestions.

And, if we assign the permission again, we have to test how it works now with the hidden "Store as suggestions" option. (Thanks for hiding it!)

[2019-05-30 07:47] olafgrabienski commented on #34
Another idea: change the default option. When I go on an import page, the default is "Attribute import to Yourself (Olafski)", it should be "Multiple contributors" in my opinion.

[2019-05-30 23:43] jenlampton commented on #34
done! see https://localize.backdropcms.org/translate/languages/fr/import

[2019-05-30 23:43] #34 closed

[2019-05-30 23:49] jenlampton commented on #27
It also doesn't make sense to add a release for translations, for each bug-fix release of Backdrop. All the bug-fix releases of Backdrop are likely to have nearly the exact same strings.

We should have a release for each minor version (1.1, 1.2, 1.3, etc) and I agree with @serundeputy that perhaps we should only show the 3 latest releases, since only 2 of those are officially "supported".

I'm lo

[2019-05-31 08:13] jenlampton commented on #34
Can do.

On Thu, May 30, 2019, 12:47 AM Olaf Grabienski <notifications@github.com>
wrote:

[2019-05-31 19:48] olafgrabienski commented on #27
Agreed! I saw that the releases now have names like `1.13`, `1.12` and so on, nice! (Did you just rename the minor releases?)

[2019-05-31 19:51] olafgrabienski commented on #27
When we [generate the language files automatically](https://github.com/backdrop-ops/localize.backdropcms.org/issues/6), I'd however prefer to add also bugfix releases, as there might be additional strings in such releases, and we won't have extra work to add them.

[2019-05-31 19:56] jenlampton commented on #27
yep, you caught me ;)

That's what I was thinking too. But after we generate the files, we can add the updated strings for 1.13.2 to the 1.13 release :)

[2019-06-03 10:10] olafgrabienski commented on #29
At the moment, there is however the option (for group members) to suggest translations on the Localization site. People are starting to use this option. We need to inform people who can confirm the suggestions.

[2019-06-03 18:40] jenlampton commented on #29
This should already be possible:
https://localize.backdropcms.org/translate/languages/de/translate?project&status=32&release=all&search=&author&context=all&limit=10&sid=0

Click the "Reveal more filters" link at the lower left of the filters area:
<img width="1996" alt="reveal" src="https://user-images.githubusercontent.com/397895/58825877-3b9a6780-85f4-11e9-98eb-4524db65f72a.png">

Then it's the

[2019-06-03 22:14] olafgrabienski commented on #29
Yes, I just mentioned it because it might be of interest where the information is already available.

[2019-06-03 22:51] olafgrabienski commented on #29
Sure! I was asking primarily for an *email* notification when there are new translation suggestions in a group. (Still open question: who exactly should get the email.)

Regarding the links to pages:

There's is no "New translation suggestions" block, but there is the "Translation statistics" block, e.g. in the sidebar on the page https://localize.backdropcms.org/translate/languages/fr, and it con

[2019-06-07 11:50] olafgrabienski commented on #33
I saw that the `Import gettext files` permission has been re-assigned to the "Member" role, thus I've tested the import as a group member: The translations were stored as suggestions, as expected.

[2019-07-02 15:08] olafgrabienski opened #35 "Install Token module"
With #20 the translation server sends a notification about new user accounts, and in #25 I've added a text field to the registration form where people are asked to let us know why they create an account on localize.backdropcms.org.

Recently I've put a token in the mail template to display the text input in the notification email, but the value isn't shown there. I guess the reason is the missing

[2019-07-02 15:10] olafgrabienski commented on #35
@jenlampton I've assigned this issue to you. Can you install the module?

[2019-07-04 14:25] olafgrabienski opened #36 "Enable personal contact form"
By @robertgarrigos via email:

Indeed, that's a good idea, I'm going to enable the personal contact forms.

[2019-07-04 14:29] olafgrabienski commented on #36
I've enabled the personal contact forms. They seem to work but not with the role "Authenticated User". Here's what I've done:

- Enabled *Contact* module.
- Permissions > Contact > Use the site-wide contact form: Disabled for all roles
- Permissions > Contact > Use users' personal contact forms: Enabled for *Authenticated User*
- Permissions > User > View user profiles: Enabled for *Authenticated

[2019-07-04 15:56] robertgarrigos commented on #36
Do you have your contact form enabled in your profile? I cannot access it. Can you access mine on https://localize.backdropcms.org/user/MY-ID/contact ??

[2019-07-04 16:04] olafgrabienski commented on #36
No, it wasn't enabled in my profile, now it is! Want to try again?

I wasn't aware of the setting in the profile. Seems that it is disabled by default. So, to make contact to group members possible, I guess we need to ask new members to enable the contact form. Other ideas?

[2019-07-04 16:27] robertgarrigos commented on #36
ok. yep, I can see yours now. Thanks! Sent a test message also.

[2019-07-04 16:29] robertgarrigos commented on #36
Now, could we have this enabled as default for new users? I think it would be better.

[2019-07-04 16:34] olafgrabienski commented on #36
I agree, but how would we do it? Maybe just enable it manually during the activation of the user account. Or is there a configuration to set the default somewhere?

[2019-07-04 16:35] olafgrabienski commented on #36
Arrived!

[2019-07-04 16:39] olafgrabienski commented on #36
Oh yes, it is, and it was already selected: "Enable the personal contact form by default for new users."

The setting "will not affect existing users". So, I'm going to update the user accounts, to have all accounts the same setting (personal contact form enabled).

[2019-07-04 16:47] olafgrabienski commented on #36
Done!

[2019-07-04 16:47] #36 closed

[2019-07-04 21:13] robertgarrigos commented on #36
Thanks!

[2019-08-14 13:26] olafgrabienski commented on #32
In the meantime, https://github.com/backdrop/backdrop-issues/issues/3674 has been fixed, so we can drop the `cms` part of the file names. There was however another core issue (https://github.com/backdrop/backdrop-issues/issues/3974) with translation file names recently. I'd prefer to wait with the name pattern change here until the recent core issue is fixed and part of a new Backdrop release. We

[2019-08-14 16:46] klonos commented on #27
Well, then how does one that has the 1.13 version of a translation know that there has been an updated version of it, that includes new strings? Should we be including a date/timestamp in their filename (the new regex in https://github.com/backdrop/backdrop-issues/issues/3974 should handle that)?

I think that long-term, we should have language translations be proper projects, with proper .info fi

[2019-08-15 01:22] jenlampton opened #37 "Make a Drupal version of the Borg theme"
I have long been wanting to make a drupal version of the Borg theme we use on b.org. Primarily for this site, but also because I think it would be cool to contribute back to Drupal. I'm assigning this issue to myself since I had planned to do it, but if anyone else wants to give it a go, please leave a comment here and we can discuss :)

[2019-08-15 11:15] olafgrabienski commented on #37
If it was 'only' for the localization site, I guess making a sub theme of *Responsive Bartik* and providing some CSS could be sufficient. A proper theme sounds however interesting!

[2020-07-04 15:10] robertgarrigos opened #38 "Warning message on submitting translations"
I get this warning:

[code]
when submitting translations.

[2020-07-04 15:21] robertgarrigos commented on #38
I couldn't find any related issue in drupal's issue queue

[2020-07-29 20:55] olafgrabienski commented on #38
@robertgarrigos Thanks for the report! Can you add some details? E.g. did you submit the translations on the "Translate" page or did you import a language file?

[2020-07-29 21:07] olafgrabienski opened #39 "Registration of user account doesn't work well"
Reported by @indigoxela [via Zulip](https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Translation.20concept.20%28server%29/near/205355740):

I may register but email verification is off and I couldn't set my password either when registering. Now I get a mail that my account has been unblocked but I actually have to "reset" my password first because I never was able to set it...
A

[2020-07-29 21:26] olafgrabienski commented on #39
Current settings on `admin/people/config/accounts` look okay:

- Who can register accounts?
Visitors, but administrator approval is required
- Require e-mail verification when a visitor creates an account.
Enabled

[2020-07-29 21:28] olafgrabienski commented on #39
Not able to reproduce the issue: I've registered a test account, and everything worked as expected, including email notifications about pending and activated account.

Well, it's not yet confirmed but I guess I may have simply forgotten to set the account status to "Active" for the registration mentioned above (just saved the account page without any change and sent then a welcome message).

[2020-07-30 06:42] robertgarrigos commented on #38
I was translating at the web page (https://localize.backdropcms.org/translate/languages/ca/translate?project=backdropcms)

[2020-07-30 06:53] indigoxela commented on #39
Yep, I think you can close this. The actual problem was that my account wasn't activated but you already sent me a mail (via contact form) telling me you did. Admin in a rush... :wink:

I received the proper mail with pw reset link today and was able to set my pw (account was active).

[2020-07-30 08:48] olafgrabienski commented on #39
Good to know that it wasn't a technical issue, thanks for the confirmation! (Closing issue.)

[2020-07-30 08:48] #39 closed

[2020-07-30 12:43] klonos opened #40 "More hands on deck for approving/activating new translator accounts"
Currently, only @olafgrabienski gets notified when new accounts are created in localize.backdropcms.org. He then has to manually activate the accounts, and communicate with people that want to contribute to specific language.

Ideally, we should automate these notifications, so that they go in a Zulip stream (same as we do for new forum posts). That way, we could crowd-source the activation of the

[2020-07-30 12:43] klonos commented on #40
I volunteer to help. I already have admin permissions on localize.backdropcms.org - I just need my email added to the people that get notifications when new accounts are created.

[2020-07-30 12:46] olafgrabienski commented on #40
Thanks for helping! Before I add your email to the notifications, let me share the current workflow. (Will do it later in this thread.)

[2020-07-31 17:43] olafgrabienski commented on #38
Confirmed, I see the same error when I translate a string on the "Translate" page, e.g. https://localize.backdropcms.org/translate/languages/de/translate.

Not being a coder I've no idea about the reason ... except, the message somehow sounds like a PHP version issue (PHP on the site is 7.2.16).

[2020-07-31 20:26] robertgarrigos commented on #38
well, it's strange, because I couldn't find an issue about this on d.o.

[2020-08-03 14:00] olafgrabienski commented on #40
Documentation of the current workflow
---------------------------------------

Use case: A person wants to contribute to the Backdrop translation of a specific language.

**(1) Prospective contributor registers for user account**

- The prospective contributor goes to https://localize.backdropcms.org/user/register.
- They fill the form with User name, Mail address and a Message. The latter is to l

[2020-09-14 22:58] klonos commented on #40
Thank you @olafgrabienski 🙏 ...I've added all that as a first version here: https://github.com/backdrop/backdrop-issues/blob/master/procedures/localize--account-activations.md. We can improve the process as we go 😉

[2020-09-14 23:07] klonos commented on #40
Where do you add more people to be notified @olafgrabienski? I had a quick look at the rules and trigger/actions configured on the site, but couldn't spot me email anywhere.

[2020-09-15 07:47] olafgrabienski commented on #40
@klonos Thanks für adding the steps from above to the Procedures!

It's the action "Send e-mail about new account to a site manager", see `admin/config/system/actions`. In the configuration form, there is a "Recipient" field which should allow multiple, comma-separated values. Which email address do I put in for you?

[2020-11-03 22:34] jenlampton commented on #27
@klonos I love this vision!

[2020-11-04 03:43] herbdool commented on #27
I've come to this while trying to port l10n_update and noticing the filenames don't match what is expected with its patterns matching. I'm not sure if it'll fallback to an earlier version or not. It's a complicated module. But hope that we can keep things stable here so we don't need to make any major changes to l10n_update (which is pretty useful for anyone trying to keep on top of new translatio

[2020-11-04 16:40] olafgrabienski commented on #27
@herbdool Thanks for your message! Is already clear which filenames are supported `l10n_update`?

[2020-11-04 16:43] olafgrabienski opened #41 "Provide translations for contrib projects"
Currently Backdrop-specific translations are only available for core. Let's also provide translations for modules and other contrib projects.

[2020-11-04 16:49] olafgrabienski commented on #41
IIRC, it's not difficult to setup additional projects on the translation server. Will have a look at it when I find time, starting with one of the popular modules (e.g. Backup and Migrate, or Webform).

[2021-01-23 23:39] alanmels commented on #41
I second this idea as we have started translation of number of contrib modules into Russian and would like to share with the community as we progress further.

[2021-01-24 16:47] olafgrabienski commented on #41
Great! Let me know when you're ready to share some module translations.

[2021-03-28 15:16] olafgrabienski opened #42 "Add documentation: How to contribute to translations"
There is no public documentation about the contribution process on localize.backdropcms.org. We should document somewhere, how things work.

[2021-03-28 15:23] olafgrabienski commented on #42
So far, I've provided people via email with basic information. I'll start to document it here in this thread, looking forward to get some feedback before we publish it in a more official place.

[2021-03-28 15:25] olafgrabienski commented on #42
Related:

- [Develop a translation concept](https://github.com/backdrop-ops/localize.backdropcms.org/issues/7)
- [Documentation: How to contribute translations](https://github.com/backdrop-ops/backdropcms.org/issues/507) (backdropcms.org queue)

[2021-03-29 00:38] jenlampton opened #43 "Error while translating: "Missing variable (s) @count""
Hello. While my friend was translating, I ran into an error here. The fault
is not on me.

https://localize.backdropcms.org/translate/languages/tr/translate?project=backdropcms&status=1&release=42&search=&author&context=all&limit=50&sid=0
The error I get is this.

"Error message Missing variable (s) @count, @number_applied, @number_incompatible
• Missing variable (s) @count "

Even if you do a sin

[2021-03-29 07:54] olafgrabienski commented on #43
@jenlampton Are you reporting the issue for another person? However, I'm asking myself if it could be related to a warning message reported in https://github.com/backdrop-ops/localize.backdropcms.org/issues/38.

[2021-03-29 20:27] jenlampton commented on #43
Yes, I was reporting for Mustafa Doğan since the report came in via the info@ email address.

[2021-05-21 14:00] olafgrabienski commented on #27
@jenlampton In the meantime, the [Download page](https://localize.backdropcms.org/translate/downloads) is brimming with releases which even leads to display issues. Can you maybe have a look for a way to limit it to the latest releases?

[2021-09-17 09:56] olafgrabienski commented on #27
With the 1.20 release, the Download page got even more crowded. I've deleted most of the older releases now, so that the list shows only the last four minor releases.

[2022-01-18 17:17] yorkshire-pudding opened #44 "Add backdrop favicon to website"
Currently this site has the default Drupal favicon.  While I appreciate that moving the site to backdrop CMS is a complex task, at least this will not make it completely obvious that one of our sites is not Backdrop.
Links to #37 but can be done before that as a quick win.

[2022-01-18 18:16] jenlampton commented on #44
I've pulled a favicon from backdropcms.org, and updated settings to point to the new icon.

[2022-01-18 18:16] #44 closed

[2022-01-21 16:57] olafgrabienski opened #45 "Upgrade Translation server to Backdrop"
The Translation server is running on Drupal 7 which will reach [end-of-live in November ~~2022~~ 2023](https://www.drupal.org/psa-2022-02-23) . Let's upgrade the site to Backdrop before D7 EOL!

More details upcoming, e.g.

- List general challenges and make a plan.
- Check which key modules are ported or underway, and which are not.
- Schedule some sprints to do the upgrade.

[2022-02-11 18:26] olafgrabienski commented on #6
Yesterday I suggested [in the forum](https://forum.backdropcms.org/forum/feb-10th-weekly-meeting-agenda-items) to discuss the topic in the weekly Dev meeting:

Below a link to the video of yesterday's meeting, starting where the topic was discussed. Thanks for the encouraging feedback!

https://www.youtube.com/watch?v=EysmdI3XIlQ&t=190s

[2022-02-23 21:56] olafgrabienski commented on #41
Chatting about contrib translations recently, I noticed the following challenge which I wasn't aware of before: While it is quite easy to add contrib projects to the translation server, we don't have a good way to add English language source files to their releases. I do that manually for Backdrop core minor releases, but won't be able to do it for more projects and releases.

So, I raised some qu